* {
	box-sizing: border-box;
}
body {
	font-family: Arial, 'Segoe UI', Tahoma, Verdana, sans-serif;
	padding: 5px;
	background: #fff;
}

/* Header/Blog Title */
.header {
	padding: 30px;
	text-align: center;
	background: yellow;
}

.header h1 {
	font-size: 50px;
	color: blue;
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: blue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: underline;
}
a {
	float: left;
	display: block;
	color: blue;
	cursor: pointer;
	text-align: center;
	text-decoration: underline;
}
/* Change color on hover */
a:hover {
	background-color: #ddd;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
	float: left;
	width: 25%;
	height: auto;
}
hr {
	visibility: hidden;
}
/* Right column */
.rightcolumn {
	float: right;
	border-left: 3px solid black;
	height: auto;
	width: 75%;
	padding-left: 20px;
}

/* Fake image */
.imgProfile {
	border-radius: 50%;
	width: 100%;
	padding: 10px;
}

/* Add a card effect for articles */
.column {
	padding: 20px;
	margin-top: 20px;
}
.column h2 {
	color: red;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

article {
	display: block;
	text-align: justify;
	text-justify: inter-word;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {
		width: 100%;
		border-left: 0px;
		padding: 0;
	}
	.imgProfile {
		border-radius: 50%;
		width: 60%;
		padding: 50px;
	}
	.column {
		margin-top: 10px;
	}
	hr {
		visibility: visible;
		background-color: black;
		height: 3px;
	}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.leftcolumn, .rightcolumn {
		width: 100%;
		border-left: 0px;
		padding: 0;
	}
	.imgProfile {
		border-radius: 50%;
		width: 100%;
		padding: 20px;
	}
	.topnav a {
		float: none;
		width: 100%;
	}
}
